.blogTopSection {
    background-image: url(../img/placeholder/1920х940.png);
    height: 940px;
}
.blogTopSection__title {
    color: #f5f7ff;
    font-family: Heebo;
    font-size: 313px;
    font-weight: 700;
    line-height: 0.65;
    padding-top: 550px;
    position: relative;
    z-index: 2;
    bottom: -41px;

}
.blogTopSection__title span{
    display: block;
    margin-left: 135px;
    color: #a3cef1;
    position: relative;
    z-index: 1;

}

.blogMain {
}
.blog__subtitleWrapper{

}
.blog__subtitle {
    padding-left: 500px;
    margin-top: 280px;
    color: #4c4d57;
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;
}
.blog__block {
    margin-top: 270px;
    display: flex;
    justify-content: center;
}
.blog-news__list{
    width: 80%;
    margin: 2vw auto;
}
.blog-news__item{
    width: 33.33%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 110px;
}
.blog-news__item:nth-child(1){
    margin-top: 140px;
}
.blog-news__item:nth-child(3){
    margin-top: 240px;
}
.blog-news__itemWrapper{
}
.blog-news__item img{
    width: 385px;
    height: 245px;
}
.blog-news__item:nth-child(3n+2) img{
    width: 535px;
    height: 340px;
}
.blog-news__item span{
    display: block;
    margin-top: 5px;
    color: #151730;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;

}
.blog-news__item h3{
    margin-top: 7px;
    margin-bottom: 11px;
    color: #151730;
    font-family: Heebo;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}