.topSection {
    background-image: url(../img/home1/home!__bg.png);

}
.featured__block::after{
    background-image: url(../img/home1/featuredGraphic.png);
}
.about{
    background-color: #a3cef1;
}
.about::after {
    background-image: url(/img/home1/graphicAbout.png);
}
.about__title {
    color: #393f82;
}
.about__item:first-child .about__info::before{
    background-image: url(/img/home1/graphicInfo__before.png);
    
}
.about__item:first-child .about__info::after{
    background-image: url(/img/home1/graphicInfo__after.png);
    
}
.about__item:first-child .about__img::before{
    background-image: url(/img/home1/graphic_750.png);
}

h3.blogNews__title{
    color: #3a3f83;
}

.blogNews__button::before{
    background-image: url(../img/home1/graphic3Dots.png);
}
.blogNews__item:first-child::before{
    background-image: url(../img/home1/graphicBlogItem.png);

}
.blogNews__item:nth-child(3):before{
    background-image: url(../img/home1/graphicBlogItem.png);
}
.newsletter::before{
    background-color: #515690;
}
.newsletter__inner::before{
    background-image: url(../img/home1/graphicNewsletter__before.png);
}
.newsletter__inner::after{
    background-image: url(../img/home1/graphicNewsletter__after.png);
}
.contact__title {
    color: #6f9f4f;
}
.contact::before{
    background-color: #6f9f4f;
}
.contact::after{
    background-image: url(../img/home1/graphicContact.png);
}
.contact__img::before{
    background-image: url(../img/home1/graphicContactImg.png);
}