.sign-in::before{
    background-image: url(/img/sign-in--purple/graphic_element.png);
}
.sign-in::after{
    background-image: url(/img/sign-in--purple/graphic_right.png);
}

.sign-in__title {
    color: #3a3f83;
}
.sign-in__form {
    background-color: #a3cef1;
}
.sign-in__title::before{
    background-image: url(/img/sign-in--purple/title.png);
}