@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lato:wght@300;400;700&display=swap');
/* 
font-family: 'Heebo', sans-serif;
font-family: 'Lato', sans-serif; 
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'lato';
    font-size: 18px;
}
h1, h2, h3, h4, p{
    padding: 0px;
    margin: 0;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
button, input {
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
}
button{
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}
.container  {
    width: 1600px;
    margin: 0 auto;
    padding: 0 38px;

}
.btn {
    display: inline-block;
    padding: 15px 22px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: lato;
}
.btn:hover{
    transform: scale(1.3);
    position: relative;
    left: 20px;
    margin-right: 52px;
}
.btn--white{
    border: 1px solid #f5f7ff;
    color: #f5f7ff;
}
.btn--green {
    color: #6f9f4f;
    border: 1px solid #6f9f4f;
    
}
.btn--purple {
    color: #3a3f83;
    border: 1px solid #3a3f83;
}
.btn img{
    width: 49px;
    height: 21px;
    padding-left: 21px;
    margin-bottom: -5px;
}

.btn--wishlist img{
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;

}


/* ./header */
.header {
    height: 60px;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    z-index: 999;

}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 10%;
}
.header__logo img {
    width: 150px;
}
.header__nav {
    width: 60%;
    
}
.nav {
    display: flex;
    justify-content: flex-end;
}
.nav__list {
    display: flex;
}
.nav__item {
    margin-left: 58px;

}
.nav__link {
    color: #e7eeed;
}
.nav__link:hover {
    color: #fff;
}
.header__search {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.header__form {
    border: 1px solid #e7eeed;
    border-radius: 5px;
    width: 150px;
}
.search__input {
    padding: 10px 12px 10px 12px;
    font-size: 18px;
    color: #f5f7ff;
    width: 95px;
}
.search__input::placeholder{
    color: #f5f7ff;
}
.search__submit img {
    width: 22px;
    height: 18px;


}
.header__buttons {
    display: flex;
    align-items: center;
    

}
.buttons__link img{
    width: 24px;
    height: 22px;
    margin-left: 15px;
}

.nav__link--purple {
    color: #4c4d57;
}
.nav__link--purple:hover {
    color: #515690;
}
.header__form--purple{
    border: 1px solid #4c4d57;
}
.search__input--purple {
    color: #4c4d57;
}
.search__input--purple::placeholder{
    color: #4c4d57;
}
/* ./header */



/* .footer */

.footer {
    padding-top: 150px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__inner {
    display: flex;
}
.footer__nav {
    margin-right: 170px;
}
.footer__navTitle,
.footer__socialTitle {
    color: #3a3f83;
    font-weight: 700;
    margin-bottom: 17px;
}
.footer__link {
    color: #515690;
    font-weight: 300;
    padding-bottom: 18px;
}
.footer__link:hover{
    color: #3c406b;
}
.footer__social {

}
.footer__socialBlock {
}
.footer__socialLink {
    width: 36px;
    height: 36px;
    padding-right: 14px;

}
.footer__copyright {
    color: #4c4d57;
    font-weight: 300;
}

/* /.footer */

/* .BlockNews */
.blogNews__block {
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogNews__item {
    position: relative;
    /* margin-bottom: 110px; */
}

.blogNews__img {
}
.blogNews__date {
    margin: 20px 0;
    color: #151730;
    font-size: 14px;
    font-weight: 300;
}
h4.blogNews__title {
    color: #151730;
    font-family: Heebo;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 24px;
}
/* /.BlockNews */

/* .shopProduct */
.shop__productWrapper{
}
.product__img img{
    width: 365px;
    height: 425px;
}
.product__name {
    margin: 18px 0 4px 0;
    color: #151730;
    font-family: Heebo;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.product__price {
}
.product__price--new {
    color: #151730;
    font-size: 24px;
    font-weight: 300;
    margin-right: 22px;
}
.product__price--old {
    color: #4c4d57;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
}
.product__btn {
    margin-top: 21px;
    display: flex;
}
.product__btn button:last-child{
    margin-left: 20px;
}
/* /.shopProduct */

.product__quantity {
}
.product__quantity label{
    margin-right: 20px;
    font-family: Heebo;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.product__quantity input{
    background-color: #f5f7ff;
    border-radius: 5px;
    color: #4c4d57;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    width: 26px;
    text-align: center;
}