.wishlist__main::before {
    background-color: #515690;
}
.wishlist__main::after{
    background-image: url(/img/wishlist--purple/wishlist__main.png);
}
.wishlist__title {
    color: #3a3f83;
}
.wishlist__subtitle::before{
    background-image: url(/img/wishlist--purple/wishlist__subtitle.png);
}
.shop__product:nth-child(3n-1)::before {
    background-image: url(/img/wishlist--purple/wishlist__item.png);
}
.shop__product:nth-child(3n)::before{
    background-image: url(/img/wishlist--purple/wishList__item--third.png);
}